.login_container {
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 350px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.login_image {
  display: flex;
  margin-top: 10%;
  width: 150px;
}

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}